@use 'sass:map';

@use './variables/colors.scss';

@import-normalize;

:root {
  width: 100vw;
  min-height: 100vh;
  background-color: map.get(colors.$colors, 'bg');
  color: map.get(colors.$colors, 'text-color');
  font-family: Roboto, Helvetica, sans-serif;
}
