@use 'sass:map';

@use './variables/colors.scss';

@import 'normalize.css/normalize.css';

:root {
  background-color: map.get(colors.$colors, 'bg');
  color: map.get(colors.$colors, 'text-color');
  font-family: Roboto, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
